body, html {
    background-color: bisque;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    
}



@media (max-width: 768px) {
   body, html {
    font-size: 14px;
   }
}